.App{
  display:inline-flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  /* padding:70px; */
  flex-wrap: wrap;
  background-color: #111010;
}


.logo{
  margin: 90px 0px;
}