@font-face {
  font-family: 'Vaporetta';
  src: url('../public/fonts/vaporetta_regular.woff2') format('woff2'),
       url('../public/fonts/vaporetta_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/inter_semibold.woff2') format('woff2'),
       url('../public/fonts/inter_semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;


    background-color: #111010;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.rotate {
  margin-top: -50px;
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}